<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Home</title>
</head>

<body>
    <H1>HOME</H1>
    <p>Welcome to the home page!</p>
    <nav>
        <ul>
            <li><strong>Acme Corp</strong></li>
        </ul>
        <ul>
            <li><a href="/prodotti">Prodotti</a></li>
            <li><a href="#">Services</a></li>
            <li><button class="secondary">To do</button></li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2023 Your Company</p>
    </footer>

    <script src="/js/home.js"></script>
</body>

</html>