<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>Partecipazione al Mercato del Lavoro</h2>
    <img src="{{ url_for('main.grafico') }}" alt="Grafico esempio" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Distribuzione HP Pokémon</h2>
    <img src="{{ url_for('main.grafico_hp') }}" alt="HP Pokémon" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Distribuzione dei tipi principali</h2>
    <img src="{{ url_for('main.grafico_tipi') }}" alt="Tipi Pokémon" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Attacco vs Difesa</h2>
    <img src="{{ url_for('main.grafico_atkdef') }}" alt="Attacco vs Difesa" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Attacco vs Difesa Leggendari</h2>
    <img src="{{ url_for('main.grafico_legendari') }}" alt="Attacco vs Difesa Leggendari" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Distribuzione dei tipi principali dei Pokémon</h2>
    <canvas id="typeChart" width="800" height="400"></canvas>
    <h2>HP dei Pokémon (Top 20)</h2>
    <canvas id="hpChart" width="800" height="400"></canvas>
    <h2>Attacco dei Pokémon (Top 20)</h2>
    <canvas id="attChart" width="800" height="400"></canvas>

    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</body>
</html>